<mat-card>
    <mat-card-header>
        <mat-card-title>GitHub Repositories</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-nav-list>
            <a *ngFor="let repository of repositories.nodes" mat-list-item [href]="repository.url">
                <h2 matLine>{{ repository.name }}</h2>
                <p matLine>{{ repository.description }}</p>
                <p matLine>
                    <mat-icon>star_rate</mat-icon> {{ repository.stargazers.totalCount }}
                </p>
            </a>
        </mat-nav-list>
    </mat-card-content>
</mat-card>