<mat-card>
    <mat-card-header>
        <mat-card-title>Website</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <a href="https://github.com/marklagendijk/marklagendijk.nl/"><img src="https://img.shields.io/github/last-commit/marklagendijk/marklagendijk.nl?label=Last%20Commit" alt="Last Commit"></a>
        <a href="https://www.ssllabs.com/ssltest/analyze.html?d=marklagendijk.nl"><img src="https://img.shields.io/badge/SSL%20Report-A%2B-success" alt="SSL Report"></a>
        <a href="https://securityheaders.com/?q=marklagendijk.nl&followRedirects=on"><img src="https://img.shields.io/security-headers?label=Security%20Headers&url=http%3A%2F%2Fmarklagendijk.nl" alt="Security Headers"></a>
    </mat-card-content>
</mat-card>