@import '~@angular/material/theming';
@include mat-core();

$marklagendijk-nl-primary: mat-palette($mat-indigo);
$marklagendijk-nl-accent: mat-palette($mat-pink, A200, A100, A400);
$marklagendijk-nl-warn: mat-palette($mat-red);
$marklagendijk-nl-theme: mat-light-theme((
  color: (
    primary: $marklagendijk-nl-primary,
    accent: $marklagendijk-nl-accent,
    warn: $marklagendijk-nl-warn,
  )
));

@include angular-material-theme($marklagendijk-nl-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/material-design-icons.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/roboto-v20-latin-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/roboto-v20-latin-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/roboto-v20-latin-500.woff2') format('woff2');
}

.page {
  display: flex;
}

.side-bar {
  width: 320px;
}

.main {
  flex: 1;

  > .mat-card {
    margin-left: 0;
  }
}

.mat-card {
  margin: 15px;
}

p .mat-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
}